<a href="https://colab.research.google.com/github/lmassaron/ml4dummies_3ed/blob/main/ML4D3E_06_getting_beyond_basic_coding_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def say_hello():
    return "Hello There!"

In [2]:
say_hello()

'Hello There!'

In [3]:
def do_sum(value_1, value_2):
    return value_1 + value_2

In [4]:
do_sum(1, 2)

3

In [5]:
def display_sum(value_1, value_2):
    print(str(value_1) + ' + ' + str(value_2) + ' = ' +
        str((value_1 + value_2)))

In [6]:
display_sum(2, 3)

2 + 3 = 5

In [7]:
display_sum(value_2=3, value_1=2)

2 + 3 = 5

In [8]:
def say_hello(Greeting = "No Value Supplied"):
    print(Greeting)

In [9]:
say_hello()

No Value Supplied

In [10]:
say_hello("Howdy!")

Howdy!

In [11]:
def display_multi(*args):
    print('You passed ' + str(len(args)) +
        ' arguments.', args)

In [12]:
display_multi(3, "Hello", 1, True)

You passed 4 arguments. (3, 'Hello', 1, True)

In [13]:
import os
os.getcwd()

'/content'

In [14]:
import os
os.chdir('sample_data')

In [15]:
import os
os.environ['PYTHONPATH']

'/env/python'

In [16]:
list_a = [0, 1, 2, 3]
list_b = [4, 5, 6, 7]
list_a.extend(list_b)
list_a

[0, 1, 2, 3, 4, 5, 6, 7]

In [17]:
list_a.append(-5)

In [18]:
list_a

[0, 1, 2, 3, 4, 5, 6, 7, -5]

In [19]:
list_a.remove(-5)

In [20]:
list_a

[0, 1, 2, 3, 4, 5, 6, 7]

In [21]:
list_x= list_a + list_b

In [22]:
list_x

[0, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [23]:
my_list = []
for letter in "Hello":
  my_list.append(letter)

print(my_list)

['H', 'e', 'l', 'l', 'o']

In [24]:
letters = [letter.upper() for letter in "Hello"]
print(letters)

['H', 'E', 'L', 'L', 'O']

In [25]:
list_a = ['Orange', 'Yellow', 'Green', 'Brown']
list_b = [1, 2, 3, 4]

In [26]:
list_b[1:3]

[2, 3]

In [27]:
list_b[:3]

[1, 2, 3]

In [28]:
list_b[-2:]

[3, 4]

In [29]:
for value_1, value_2 in zip(list_a, list_b):
    print(value_1, '\t', value_2)

Orange 	 1
Yellow 	 2
Green 	 3
Brown 	 4

In [30]:
mytuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [31]:
mytuple

(1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [32]:
for value_1 in mytuple:
    if isinstance(value_1, int):
        print(value_1)
    else:
        for value_2 in value_1:
            if type(value_2) == int:
                print("\t", value_2)
            else:
                for value_3 in value_2:
                   print("\t\t", value_3)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9

In [33]:
mynewtuple = mytuple + ((10, 11, 12, (13, 14, 15)))

In [34]:
mynewtuple

(1, 2, 3, (4, 5, 6, (7, 8, 9)), 10, 11, 12, (13, 14, 15))

In [35]:
set_a = set(['Red', 'Blue', 'Green', 'Black'])
set_b = set(['Black', 'Green', 'Yellow', 'Orange'])

In [36]:
set_x = set_a.union(set_b)
set_y = set_a.intersection(set_b)
set_z = set_a.difference(set_b)

In [37]:
print(f"{set_x}\n{set_y}\n{set_z}")

{'Green', 'Red', 'Orange', 'Blue', 'Black', 'Yellow'}
{'Green', 'Black'}
{'Blue', 'Red'}

In [38]:
set_a.add('Purple')

In [39]:
set_a

{'Black', 'Blue', 'Green', 'Purple', 'Red'}

In [40]:
my_dict = {'Orange':1, 'Blue':2, 'Pink':3}

In [41]:
my_dict['Pink']

3

In [42]:
my_dict.keys()

dict_keys(['Orange', 'Blue', 'Pink'])

In [43]:
my_dict.values()

dict_values([1, 2, 3])

In [44]:
class Student:
  def __init__(self, name, scores):
    self.name = name
    self.scores = list(scores)
    print(f"Student object created for: {self.name}")
  def calculate_average_score(self):
    return sum(self.scores) / len(self.scores)

In [45]:
alfred = Student(name="Alfred", scores=[80, 91, 78])

Student object created for: Alfred

In [46]:
alfred.calculate_average_score()

83.0

In [47]:
alfred.scores = [80, 91, 78, 95]
alfred.calculate_average_score()

86.0